*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body,#root{
  width: 100%;
  height:100%;
  
    
}
#root{
  padding: 10px;
}
#one{
  height:fit-content;
  width:fit-content;

  padding: 10px;
  background-color: red;

  
  
}
#two{
  height:fit-content;
  width:fit-content;
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 10px;
  
  
}
