#root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.card {
  height: 530px;
  background-color: white;
  box-shadow: 0px 5px 10px gray;
  width: 380px;
  margin: 10px;
  border-radius: 10px;
  
}
h1{
  font-size: 25px;
  margin-left: 5px;
}
p{
  margin-left: 5px;
}

.card:hover {
  scale: 1.1;
}

.card img {
  height: 38%;
  width: 90%;
  margin-top: 10px;
}

.card-cont {
  display: flex;
  height: fit-content;
  width:fit-content;
  justify-content: center;
  
}

.categories{
  display: flex;
  gap:5px;
  justify-content: center;
  margin-inline: 5px;
}
.capsule{
  width: fit-content;
  border:1px solid rgb(155, 153, 153);
  border-radius: 20px;
  padding-inline: 8px;
  height: fit-content;
}
.bottom{
  display: flex;
  justify-content: space-between;
  margin-inline: 40px;
  align-items: center;
}

.bottom h3{
  margin:0;
}
button{
  
  padding:15px 26px;
  border-radius: 10px;
  background-color: orange;
  border: none;
  
}