*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root,html,body,.app{
  height: 100%;
  width: 100%;
}
.navbar{
  background-color: aqua;
  height: 10%;
  width: 100%;
}
.section{
  background-color: yellow;
  height: 80%;
  width: 100%;
}
.footer{
  background-color: red;
  height: 10%;
  width: 100%;
}