*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body,.app,#root{
  height: 100%;
  width: 100%;
}
.app{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:10px;
}
button{
  background-color: rgb(82, 222, 82);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
}